<div class="nav-bar-wrapper">
    <div class="nav-bar">
        <div class="nav-bar-item" id="books" onclick="selectItem(this.id)">
             <span>Libros</span>
             <i class="fa-solid fa-book"></i>
            </div>
        <div class="nav-bar-item" id="users" onclick="selectItem(this.id)">
            <span>Usuarios</span>
            <i class="fa-solid fa-users"></i>
        </div>
        <div class="nav-bar-item" id="stats" onclick="selectItem(this.id)">
            <span>Análisis</span>
            <i class="fa-solid fa-chart-line"></i>
        </div>
    </div>
</div>
<div class="section-wrapper" id="section-start">
    {SECTION}
</div>