<div class="alg">
    <!-- BEGIN A -->
    <input type="text" name="book-title" id="book-title" placeholder="Título" value="{TITLE_V}">
    <input type="text" name="book-editorial" id="book-editorial" placeholder="Ediotrial" value="{EDITORIAL_V}">
    <textarea name="book-resume" id="book-resume">{RESUME_V}</textarea>
    <input type="number" name="book-stock" id="book-stock" placeholder="Inventario" value="{STOCK_V}">
    <button onclick="createBook({BOOK_ID})">Agregar</button>    
    <!-- END A -->
</div>