<div class="nav-bar-wrapper">
    <div class="nav-bar">
        <div class="nav-bar-item {BOOKS}">
             <span>Libros</span>
             <i class="fa-solid fa-book"></i>
            </div>
        <div class="nav-bar-item {USERS}">
            <span>Usuarios</span>
            <i class="fa-solid fa-users"></i>
        </div>
        <div class="nav-bar-item {STATS}">
            <span>Análisis</span>
            <i class="fa-solid fa-chart-line"></i>
        </div>
    </div>
    <div class="profile-settings">
        <i class="fa-solid fa-user"></i>
        Mi perfil
    </div>
</div>
<div class="section-wrapper">
    {SECTION}
</div>