<div class="section-title">
    <h1>{BOOKS_SECTION}</h1>
</div>

<div class="top-part">
    <div class="search-wrapper with-menu">
        <div class="search-item">
            <input type="text" name="book-search" id="book-search" placeholder="Escribe para buscar..." onkeyup="searchBook()">
            <label for="book-search">Buscar Libros</label>
        </div>

        <div class="search-item">
            <select name="book-search-options" id="book-search-options" onchange="searchBook()">
                <option value="1">Nombre</option>
                <option value="2">Autor</option>
                <option value="3">Género</option>
                <option value="4">Editorial</option>
                <option value="5">ID Libro</option>
            </select>
            <label for="book-search-options">Buscar Por</label>
        </div>
    </div>
    {ADMIN_ADD}
</div>

<div id="book-list">
    {COLLECTION}
</div>
