<div class="section-title">
    <h1>Gestión de Libros</h1>
</div>

<div class="top-part">
    <div class="search-wrapper">
        <div class="search-item">
            <input type="text" name="book-search" id="book-search" placeholder="Buscar Libros">
            <label for="book-search">Buscar Libros</label>
        </div>

        <div class="search-item">
            <select name="book-search-options" id="book-search-options">
                <option value="1">Nombre</option>
                <option value="2">Autor</option>
                <option value="3">Género</option>
                <option value="4">Editorial</option>
                <option value="5">ID Libro</option>
            </select>
            <label for="book-search-options">Buscar Por</label>
        </div>
    </div>
    {ADMIN_ADD}
</div>

<div class="collection-wrapper">
    <!-- BEGIN BOOK -->
    <div class="collection-book">
        <div class="image-wrapper" style="background-image: url('./media/dynamic/books/{IMAGE}');"></div>

        <div class="info-wrapper">
            <h3>{TITLE}</h3>
            <p>{AUTHOR}</p>
            <p>{GENRE}</p>
            <p>Editorial: {EDITORIAL}</p>
            <p>{RATING}</p>
            <p>{AVAILABLE}</p>
            <p>{SUMMARY}</p>
        </div>
    </div>
    <!-- END BOOK -->
</div>