<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{SECTION_NAME}</title>

    <link rel="shortcut icon" href="./media/logos/favicon.ico" type="image/x-icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./styles/common.css">
    <link rel="stylesheet" href="./styles/dashboards.css">
    <link rel="stylesheet" href="./styles/dashboards-vertical-screen.css">

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <script src="https://kit.fontawesome.com/9e78df03eb.js" crossorigin="anonymous"></script>

    <script src="./scripts/nav-bar.js" defer></script>
    <script src="./scripts/search.js" defer></script>
</head>
<body>
    <input id="username-holder" type="hidden" name="username" value="{USERNAME}">
    <input id="password-holder" type="hidden" name="password" value="{PASSWORD}">
    <div class="header-wrapper">
        <div class="logo-wrapper">
            <img src="./media/logos/logo.png" alt="Logo">
        </div>
        <div class="title-wrapper">
            <h1>{SECTION_NAME}</h1>
        </div>
    </div>
    <div class="user-wrapper">
        <div class="user-profile">
            <div class="user-image">
                <img src="./media/dynamic/users/{U_IMAGE}" alt="User Image">
            </div>
            <div class="my-user-wrapper">
                <div class="user-name">
                    <h1>{USERNAME}</h1>
                </div>
                <div class="user-edition" onclick="selectItem('my-user', false)">
                    <i class="fa-solid fa-user"></i>
                    Mi perfil
                </div>
            </div>
        </div>
        <div class="logout">
            <a href="./index.html">
                Cerrar sesion
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </div>
    </div>
    <div class="content-wrapper" id="content-start">
        <div class="nav-bar-wrapper">
            {NAV_BAR}
        </div>
        <div class="section-wrapper" id="section-start">
            {SECTION}
        </div>
    </div>
</body>
</html>