<div class="section-title">
    <h1>¡Te damos la bienvenida al panel de administrador!</h1>
</div>

<div class="section-subtitle">
    <h2>Aquí tienes todo lo necesario para gestionar los contenidos de El Archivo del Diodo</h2>
</div>

<div class="section-description">
    <ul>
        <li>
            Selecciona el campo que deseas visualizar del menu de opciones.
        </li>
        <li>
            Recuerda que puedes personalizar tu perfil en la pestaña de <a href="#content-start" onclick="selectItem('my-user')"><strong>Mi Perfil</strong></a>.
        </li>
    </ul>

    <div class="section-subtitle">
        <h2>Esto es lo que puedes hacer en cada pestaña:</h2>
    </div>

    <ul>
        <li>
            <a href="#content-start" onclick="selectItem('books')"><h3>Libros</h3></a>
            <ul>
                <li>
                    Consultar los libros en existencia, disponibilidad y calificaciones.
                </li>
                <li>
                    Editar información de los libros.
                </li>
                <li>
                    Agregar libros y/o existencias.
                </li>
                <li>
                    Eliminar libros.
                </li>
            </ul>
        </li>
        <li>
            <a href="#content-start" onclick="selectItem('users')"><h3>Usuarios</h3></a>
            <ul>
                <li>
                    Consultar y modificar información de los usuarios.
                </li>
                <li>
                    Consultar el historial de reservaciones de los usuarios.
                </li>
                <li>
                    Amistades de los usuarios.
                </li>
                <li>
                    Listas de los usuarios.
                </li>
                <li>
                    Eliminar usuarios.
                </li>
            </ul>
        </li>
        <li>
            <a href="#content-start" onclick="selectItem('stats')"><h3>Análisis</h3></a>
            <ul>
                <li>
                    Consultar información de los libros más solicitados.
                </li>
                <li>
                    Consultar en qué mes se solicitan más libros.
                </li>
                <li>
                    Consultar qué usuarios solicitan más libros.
                </li>
                <li>
                    Consultar cuántos libros están disponibles y reservados en el momento.
                </li>
            </ul>
        </li>
    </ul>
</div>