<div class="section-title">
    <h1>Tus Listas</h1>
</div>

<div class="top-part">
    <div class="search-wrapper with-menu">
        <div class="search-item">
            <input type="text" name="user-search" id="user-search" placeholder="Escribe para buscar..." onkeyup="searchList()">
            <label for="book-search">Buscar Lista</label>
        </div>
        
        <div class="search-item">
            <button>Crear Lista</button>
        </div>
    </div>
</div>

<div id="list-list">
    {COLLECTION}
</div>