<div class="section-title">
    <h1>Registro de Préstamos</h1>
</div>

<div class="section-subtitle">
    <h2>Préstamos Activos</h2>
</div>

<!-- BEGIN ACTIVE -->

<div class="active-loan">
    <div class="book-info">
        <div class="book-title">
            <h1>{TITLE}</h1>
        </div>
        <div class="book-authors">
            <h2>{AUTHORS}</h2>
        </div>
    </div>

    <div class="user-id">
        <h2>{USER}</h2>
    </div>

    <div class="copy-id">
        <h2>{COPY}</h2>
    </div>

    <div class="loan-date">
        <h3>{L_DATE}</h3>
    </div>

    <div class="return-button">
        <button>Regresar</button>
    </div>
</div>

<!-- END ACTIVE -->

{ACTIVE_EMPTY}

<div class="section-subtitle">
    <h2>Préstamos Pasados</h2>
</div>

<!-- BEGIN INACTIVE -->

<div class="inactive-loan">
    <div class="book-info">
        <div class="book-title">
            <h1>{TITLE}</h1>
        </div>
        <div class="book-authors">
            <h2>{AUTHORS}</h2>
        </div>
    </div>

    <div class="user-id">
        <h2>{USER}</h2>
    </div>

    <div class="copy-id">
        <h2>{COPY}</h2>
    </div>

    <div class="loan-date">
        <h3>{L_DATE}</h3>
    </div>
    
    <div class="return-date">
        <h3>{R_DATE}</h3>
    </div>
</div>

<!-- END INACTIVE -->

{INACTIVE_EMPTY}