<!-- BEGIN REQUESTS_SECTION -->
<div class="section-subtitle">
    <h1>Solicitudes de Amistad</h1>
</div>

<div class="lateral-wrapper">
    <table>
        <!-- BEGIN REQUEST -->
        <td>
            <div class="request-wrapper">
                <div class="user-profile selectable" onclick="userInfo({USER_ID}, '{ORIGIN_R}')">
                    <div class="user-image">
                        <img src="./media/dynamic/users/{USER_IMAGE}" alt="User Image">
                    </div>
                    <div class="user-name">
                        <h1>{USERNAME}</h1>
                        <span>{DATE}</span>
                    </div>
                </div>
                <div class="request-buttons">
                    <button onclick="acceptFriendrequest({USER_ID}, '{ORIGIN_R}', true)"><i class="fa-solid fa-check"></i></button>
                    <button class="button-deny" onclick="declineFriendrequest({USER_ID})"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
        </td>
        <!-- BEGIN REQUEST -->
    </table>
</div>
<!-- END REQUESTS_SECTION -->

<div class="section-title">
    <h1>{USERS_SECTION}</h1>
</div>

<div class="top-part">
    <div class="search-wrapper">
        <div class="search-item">
            <input type="text" name="user-search" id="user-search" placeholder="Escribe para buscar..." onkeyup="searchUser('{FUNCTION}')">
            <label for="book-search">Buscar Usuarios</label>
        </div>
    </div>
</div>

<div id="user-list">
    {COLLECTION}
</div>