<!-- BEGIN REQUESTS -->
<div class="section-subtitle">
    <h1>Solicitudes de Amistad</h1>
</div>

<div class="lateral-wrapper">
    <div class="request-wrapper">
        <div class="user-profile">
            <div class="user-image">
                <img src="./media/dynamic/users/{U_IMAGE}" alt="User Image">
            </div>
            <div class="user-name">
                <!-- <h1>{USERNAME}</h1> -->
                <h1>Hola</h1>
            </div>
        </div>
        <div class="request-buttons">
            <button class="button-accept"><i class="fa-solid fa-check"></i></button>
            <button class="button-deny"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
    <div class="request-wrapper">
        <div class="user-profile">
            <div class="user-image">
                <img src="./media/dynamic/users/{U_IMAGE}" alt="User Image">
            </div>
            <div class="user-name">
                <!-- <h1>{USERNAME}</h1> -->
                <h1>Hola</h1>
            </div>
        </div>
        <div class="request-buttons">
            <button class="button-accept"><i class="fa-solid fa-check"></i></button>
            <button class="button-deny"><i class="fa-solid fa-xmark"></i></button>
        </div>
    </div>
</div>
<!-- END REQUESTS -->

<div class="section-title">
    <h1>{USERS_SECTION}</h1>
</div>

<div class="top-part">
    <div class="search-wrapper">
        <div class="search-item">
            <input type="text" name="user-search" id="user-search" placeholder="Escribe para buscar..." onkeyup="searchUser('{FUNCTION}')">
            <label for="book-search">Buscar Usuarios</label>
        </div>
    </div>
</div>

<div id="user-list">
    {COLLECTION}
</div>