<!-- BEGIN BOOKS_B -->
<div class="collection-book" onclick="bookInfo({ID_B}, '{ORIGIN_B}')">
    <div class="image-wrapper" style="background-image: url('./media/dynamic/books/{IMAGE_B}');"></div>
    <div class="info-wrapper">
        <h3>{TITLE_B}</h3>
        <p>{AUTHOR_B}</p>
        
        <p>Editorial: <strong>{EDITORIAL_B}</strong></p>
        <p>{RATING_B}</p>
        <p>{AVAILABLE_B}</p>
        <p>{SUMMARY_B}</p>
        
        <div class="genre-wrapper">
            <!-- BEGIN GENRES_B -->
            <span>{GENRE_B}</span>
            <!-- END GENRES_B -->
        </div>
    </div>
</div>
<!-- END BOOKS_B -->