<!-- BEGIN BOOKS -->
<div class="collection-book" onclick="bookInfo({ID})">
    <div class="image-wrapper" style="background-image: url('./media/dynamic/books/{IMAGE}');"></div>
    <div class="info-wrapper">
        <h3>{TITLE}</h3>
        <p>{AUTHOR}</p>
        
        <p>Editorial: <strong>{EDITORIAL}</strong></p>
        <p>{RATING}</p>
        <p>{AVAILABLE}</p>
        <p>{SUMMARY}</p>
        
        <div class="genre-wrapper">
            <!-- BEGIN GENRES -->
            <span>{GENRE}</span>
            <!-- END GENRES -->
        </div>
    </div>
</div>
<!-- END BOOKS -->