<div class="collection-wrapper">
    <!-- BEGIN USERS -->
    <div class="collection-user" onclick="userInfo({ID}, '{ORIGIN}')">
        <div class="user-image">
            <img src="./media/dynamic/users/{IMAGE}" alt="User Image">
        </div>
    
        <div class="info-wrapper">
            <h3>{NAME}</h3>
            <span>{FRIENDS}</span>
            <h4>{YOUR_FRIEND}</h4>
        </div>
    </div>
    <!-- END USERS -->
</div>

<!-- BEGIN EMPTY -->
<div class="empty-holder">
    <h3>{USERS_EMPTY}</h3>
</div>
<!-- END EMPTY -->