.header-wrapper {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
    background-color: #03120E;
    color: white;
}

.header-wrapper > .logo-wrapper img {
    width: 25%;
}

.header-wrapper > .title-wrapper {
    text-align: right;
}

.user-wrapper {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #302727;
    color: white;
}

.user-wrapper > .user-profile {
    display: flex;
    align-items: center;
}

.user-image {
    display: flex;
    align-items: center;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
}

.user-image img {
    width: inherit;
}

.user-wrapper > .user-profile > .my-user-wrapper {
    padding-left: 20px;
}

.user-wrapper > .user-profile > .my-user-wrapper > .user-edition {
    padding-top: 5px;
    transition: 0.3s;
}

.user-wrapper > .user-profile > .my-user-wrapper > .user-edition:hover {
    color: #A49966;
    cursor: pointer;
}

.user-wrapper > .logout {
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.user-wrapper > .logout a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.user-wrapper > .logout a:hover {    
    color: #A49966;
}

.content-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    color: #302727;
}

.content-wrapper > .nav-bar-wrapper {
    display: flex;
    flex-direction: column;
    background-color: #A49966;
    color: white;
}

.content-wrapper > .nav-bar-wrapper > .nav-bar-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    font-weight: bolder;
    background-color: #A49966;
    padding: 20px;
    border-bottom: 2px solid #73693B;
}

.content-wrapper > .nav-bar-wrapper > .selected  {
    background-color: #73693B;
}

.content-wrapper > .nav-bar-wrapper > .nav-bar-item span {
    padding-right: 20px;
}

.content-wrapper > .nav-bar-wrapper > .nav-bar-item:hover {
    background-color: #73693B;
    cursor: pointer;
}

.content-wrapper > .section-wrapper {
    padding: 30px;
    overflow-y: scroll;
}

.content-wrapper > .section-wrapper > .section-title {
    background-color: #438E36;
    color: white;
    padding: 15px;
    border-radius: 20px;
}

.section-subtitle {
    background-color: #4A3D3D;
    color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 20px;
}

.section-wrapper ul {
    color: #302727;
    line-height: 25px;
}

.section-wrapper a {
    text-decoration: none;
    color: #73693B;
}

.section-wrapper a:hover {
    text-decoration: underline;
}

.content-wrapper > .section-wrapper > .collection-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.collection-book {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: 3px solid #4A3D3D;
    min-height: fit-content;
    transition: 0.3s;
}

.collection-book:hover {
    cursor: pointer;
    border-color: #73693B;
}

.collection-book > .image-wrapper {
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 20em;
    border-radius: 10px 10px 0 0;
}

.collection-book > .info-wrapper {
    padding: 10px;
}

.genre-wrapper span {
    background-color: #438E36;
    color: white;
    padding: 5px;
    line-height: 30px;
    border-radius: 10px;
    max-width: max-content;
}

.search-wrapper {
    padding-bottom: 15px;
}

.with-menu {
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    gap: 10px;
}

.search-wrapper > .search-item {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 20px;
}

.search-wrapper > .search-item input, .search-wrapper > .search-item select {
    font-size: 1.1em;
    font-family: inherit;
    color: #4A3D3D;
    padding: 0.5em ;
    border-radius: 5px;
    border: 3px solid #A49966;
    display: block;
    transition: all 0.3s;
}

.search-wrapper > .search-item input:focus, .search-wrapper > .search-item select:focus {
    outline: none;
    border: 3px solid #73693B;
}

.search-wrapper > .search-item input::-webkit-input-placeholder {
    color: #4A3D3D;
}

.search-wrapper > .search-item input:focus::-webkit-input-placeholder {
    color: transparent;
}

.search-wrapper > .search-item label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 0.7rem;
}

.add-wrapper {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 15px;
}

button {
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1em;
    background-color: #438E36;
    color: white;
    border: none;
    transition: 0.3s;
}

button:hover {
    background-color: #2d6323;
}

button:active {
    background-color: #438E36;
}

.info-view > .general {
    padding-top: 20px;
    display: flex;
}

.info-view > .general > .image-wrapper {
    width: 40%;
    padding-right: 20px;
}

.info-view > .general > .image-wrapper img {
    width: 100%;
}

.collection-user {
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: 3px solid #4A3D3D;
    padding: 10px;
    transition: 0.3s;
}

.collection-user > .info-wrapper {
    padding-left: 20px;
}

.collection-user:hover {
    cursor: pointer;
    border-color: #73693B;
}