.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    background-color: #03120E;
    color: white;
}

.header-wrapper > .logo-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.header-wrapper > .logo-wrapper  img{
    height: 10em;
}

.header-wrapper > .menu-wrapper {
    display: flex;
    justify-content: space-around;
}

.header-wrapper > .menu-wrapper > .menu-option {
    width: 200px;
    text-align: center;
}

.header-wrapper > .menu-wrapper a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.header-wrapper > .menu-wrapper a:hover {
    color: #A49966;
    letter-spacing: 0.05em;
}