.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
    background-color: #03120E;
    color: white;
}

.header-wrapper > .logo-wrapper {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.header-wrapper > .logo-wrapper  img{
    height: 12em;
}

.header-wrapper > .menu-wrapper {
    display: flex;
    justify-content: space-around;
}

.header-wrapper > .menu-wrapper > .menu-option {
    width: 200px;
    text-align: center;
}

.header-wrapper > .menu-wrapper a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.header-wrapper > .menu-wrapper a:hover {
    color: #A49966;
    letter-spacing: 0.05em;
}

.caption-wrapper {
    display: grid;
    grid-template-columns: 0.5fr;
    gap: 30px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    color: white;
    padding: 50px;
}

.caption-wrapper > .caption {
    padding: 1px 20px;
    background-color: #4a3d3d;
}

.caption-wrapper > .author {
    display: flex;
    justify-content: center;
    background-color: #A49966;
    width: 150px;
}

.info-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 150px;
    color: white;
    background-color: #438E36;
    border-top: 10px solid white;
    padding: 0 20px;
}

.characteristhics-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.characteristhics-wrapper > .charactheristic {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: 1000px;
    margin-bottom: -4px;
}

.characteristhics-wrapper > .charactheristic > .image-wrapper img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.characteristhics-wrapper > .charactheristic > .details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.characteristhics-wrapper > .charactheristic > .details  h1{
    color: #A49966;
}

.anchor-link {
    text-decoration: none;
}

.about-us-wrapper {
    background-color: #4a3d3d;
    padding: 50px;
    color: white;
}

.about-us-wrapper a {
    text-decoration: none;
    color: #A49966;
}

.about-us-wrapper p {
    line-height: 2em;
}