@media (max-width: 615px) {
    .header-wrapper > .logo-wrapper img {
        width: 100%;
        height: auto;
    }

    .header-wrapper > .left-logo-wrapper img {
        width: 50%;
        height: auto;
    }

    .menu-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .menu-wrapper > .menu-option {
        padding: 10px 0px;
    }

    .caption-wrapper {
        grid-template-columns: 1fr;
    }
    
    .info-wrapper {
        height: 100%;
        font-size: 0.8em;
    }

    .characteristhics-wrapper {
        width: 100%;
    }

    .characteristhics-wrapper > .charactheristic {
        grid-template-columns: 1fr; 
        width: inherit;
    }

    .characteristhics-wrapper > .charactheristic > .image-wrapper {
        order: 2;
    }
    
    .characteristhics-wrapper > .charactheristic > .details {
        order: 1;
    }

    .footer-wrapper {
        height: 100%;
    }

    .form > .date-of-birth > .date-group {
        grid-template-columns: 1fr;
    }
}