<div class="nav-bar-item selected" id="books" onclick="selectItem(this.id, false)">
    <span>Libros</span>
    <i class="fa-solid fa-book"></i>
</div>
<div class="nav-bar-item" id="users" onclick="selectItem(this.id, false)">
    <span>Usuarios</span>
    <i class="fa-solid fa-users"></i>
</div>
<div class="nav-bar-item" id="loans" onclick="selectItem(this.id, false)">
    <span>Préstamos</span>
    <i class="fa-solid fa-receipt"></i>
</div>
<div class="nav-bar-item" id="friends" onclick="selectItem(this.id, false)">
    <span>Amigos</span>
    <i class="fa-solid fa-user-group"></i>
</div>
<div class="nav-bar-item" id="recomendations" onclick="selectItem(this.id, false)">
    <span>Recomendaciones</span>
    <i class="fa-solid fa-list-ul"></i>
</div>
<div class="nav-bar-item" id="lists" onclick="selectItem(this.id, false)">
    <span>Listas</span>
    <i class="fa-solid fa-bookmark"></i>
</div>